@layer theme {
@font-face {
  font-display: fallback;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  src:
    url(../../fonts/inter_thin.7BQzXdyN.woff2) format('woff2'),
    url(../../fonts/inter_thin.Ba74Z3ri.woff) format('woff');
}
@font-face {
  font-display: fallback;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  src:
    url(../../fonts/inter_extra_light.Dh-nvZCc.woff2) format('woff2'),
    url(../../fonts/inter_extra_light.CRYSC--i.woff) format('woff');
}
@font-face {
  font-display: fallback;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src:
    url(../../fonts/inter_light.CjLDlb8m.woff2) format('woff2'),
    url(../../fonts/inter_light.CyYeNtSR.woff) format('woff');
}
@font-face {
  font-display: fallback;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src:
    url(../../fonts/inter_regular.DoVWZ_YJ.woff2) format('woff2'),
    url(../../fonts/inter_regular.BKxwB4qn.woff) format('woff');
}
@font-face {
  font-display: fallback;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src:
    url(../../fonts/inter_medium.COJzYXS-.woff2) format('woff2'),
    url(../../fonts/inter_medium.Dhbt802K.woff) format('woff');
}
@font-face {
  font-display: fallback;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src:
    url(../../fonts/inter_semi_bold.DDVQvQf0.woff2) format('woff2'),
    url(../../fonts/inter_semi_bold.BxjldCj-.woff) format('woff');
}
@font-face {
  font-display: fallback;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src:
    url(../../fonts/inter_bold.BL-v2fdl.woff2) format('woff2'),
    url(../../fonts/inter_bold.BJ_yLHC2.woff) format('woff');
}
@font-face {
  font-display: fallback;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src:
    url(../../fonts/inter_extra_bold.D_I95ZTt.woff2) format('woff2'),
    url(../../fonts/inter_extra_bold.CGdHClUe.woff) format('woff');
}
@font-face {
  font-display: fallback;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src:
    url(../../fonts/inter_black.CLBgKVJ_.woff2) format('woff2'),
    url(../../fonts/inter_black.DI3JFR-7.woff) format('woff');
}
@font-face {
  font-display: fallback;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 100;
  src:
    url(../../fonts/jetbrains_mono_thin.KU1tF9KX.woff2) format('woff2'),
    url(../../fonts/jetbrains_mono_thin.DdnBeSjI.woff) format('woff');
}
@font-face {
  font-display: fallback;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 200;
  src:
    url(../../fonts/jetbrains_mono_extra_light.wxVRqPCS.woff2) format('woff2'),
    url(../../fonts/jetbrains_mono_extra_light.DlilF61O.woff) format('woff');
}
@font-face {
  font-display: fallback;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 300;
  src:
    url(../../fonts/jetbrains_mono_light.BRtunRw9.woff2) format('woff2'),
    url(../../fonts/jetbrains_mono_light.BV04UwTc.woff) format('woff');
}
@font-face {
  font-display: fallback;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src:
    url(../../fonts/jetbrains_mono_regular.C8L8B0wz.woff2) format('woff2'),
    url(../../fonts/jetbrains_mono_regular.CNRpzM4U.woff) format('woff');
}
@font-face {
  font-display: fallback;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 500;
  src:
    url(../../fonts/jetbrains_mono_medium.57o-fC8I.woff2) format('woff2'),
    url(../../fonts/jetbrains_mono_medium.BGtlnaJd.woff) format('woff');
}
@font-face {
  font-display: fallback;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 600;
  src:
    url(../../fonts/jetbrains_mono_semi_bold.sXPXaUtJ.woff2) format('woff2'),
    url(../../fonts/jetbrains_mono_semi_bold.Y6OklcKF.woff) format('woff');
}
@font-face {
  font-display: fallback;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  src:
    url(../../fonts/jetbrains_mono_bold.0imoSlIn.woff2) format('woff2'),
    url(../../fonts/jetbrains_mono_bold.B7Nq-kKB.woff) format('woff');
}
@font-face {
  font-display: fallback;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 800;
  src:
    url(../../fonts/jetbrains_mono_extra_bold.CEI0pGd-.woff2) format('woff2'),
    url(../../fonts/jetbrains_mono_extra_bold.DmIgTj2r.woff) format('woff');
}
:where(
  :root:not([class^='go-theme-'], [class^='acv-theme-']),
  .go-theme-constructor,
  .acv-theme-constructor
) {
  --go-font-family: 'Inter', sans-serif;
  --go-font-family-mono: 'JetBrains Mono', var(--acv-font-family-default);
  --acv-font-family-default: 'Inter', sans-serif;
  --acv-font-family-mono: 'JetBrains Mono', var(--acv-font-family-default);
}
@media (prefers-color-scheme: light) {
  /* light scheme without color scheme override */
  :where(:root:not([class^='go-theme-'], [class^='acv-theme-']), .go-theme-constructor, .acv-theme-constructor):not(.go-color-scheme-dark, .acv-color-scheme-dark),
    /* light scheme with color scheme override for inverted node */
  :where(:root:not([class^='go-theme-'], [class^='acv-theme-']), .go-theme-constructor, .acv-theme-constructor):is(.go-color-scheme-dark, .acv-color-scheme-dark) .acv-color-scheme-inverted {
    --acv-color-glyph-primary: #111;
    --acv-color-glyph-secondary: #6a6a6a;
    --acv-color-glyph-tertiary: #bbb;
    --acv-color-glyph-brand: #19213a;
    --acv-color-glyph-inverted: #fff;
    --acv-color-surface-primary: #fff;
    --acv-color-surface-secondary: #f7f7f8;
    --acv-color-surface-tertiary: #ecedef;
    --acv-color-surface-brand: #19213a;
    --acv-color-surface-inverted: #0a0a0a;
    --acv-color-border-strong: rgb(0, 0, 0, 0.58);
    --acv-color-border-medium: rgb(0, 0, 0, 0.13);
    --acv-color-border-light: rgb(0, 0, 0, 0.09);
    --acv-color-border-inverted: rgb(0, 0, 0, 0.93);
    --acv-color-state-action-primary: #0d2145;
    --acv-color-state-action-secondary: #e8eced;
    --acv-color-state-action-tertiary: #fff;
    --acv-color-state-action-brand: #d63c28;
    --acv-color-state-action-inverted: #fff;
    --acv-color-state-hover-primary: #0a1934;
    --acv-color-state-hover-secondary: #d5dbdc;
    --acv-color-state-hover-tertiary: #e8eced;
    --acv-color-state-hover-brand: #ce3a27;
    --acv-color-state-hover-inverted: #f1f1f1;
    --acv-color-state-active-primary: #d1d5dc;
    --acv-color-state-active-secondary: #e7ecf1;
    --acv-color-state-active-inverted: #fff;
    --acv-color-state-disabled-primary: #f0f0f0;
    --acv-color-state-disabled-secondary: #f1f1f1;
    --acv-color-state-disabled-inverted: #fff;
    --acv-color-state-focus-primary: #008ce3;
    --acv-color-status-success-light: #dff6ee;
    --acv-color-status-success-medium: #0fbd83;
    --acv-color-status-success-strong: #228665;
    --acv-color-status-danger-light: #ffe9e5;
    --acv-color-status-danger-medium: #ff7065;
    --acv-color-status-danger-strong: #d40834;
    --acv-color-status-warning-light: #fff4c0;
    --acv-color-status-warning-medium: #d89000;
    --acv-color-status-warning-strong: #b65f00;
    --acv-color-status-info-light: #eceefe;
    --acv-color-status-info-medium: #7498f8;
    --acv-color-status-info-strong: #3d73d8;
    --acv-color-decoration-orange-light: #ffeadb;
    --acv-color-decoration-orange-medium: #fe781b;
    --acv-color-decoration-orange-strong: #d63d00;
    --acv-color-decoration-orange-intense: #9a3316;
    --acv-color-decoration-mint-light: #dff6ee;
    --acv-color-decoration-mint-medium: #0fbd83;
    --acv-color-decoration-mint-strong: #228665;
    --acv-color-decoration-mint-intense: #266952;
    --acv-color-decoration-brown-light: #f3ebe2;
    --acv-color-decoration-brown-medium: #c5957a;
    --acv-color-decoration-brown-strong: #9c6a4f;
    --acv-color-decoration-brown-intense: #7e523b;
    --acv-color-decoration-grey-light: #efefef;
    --acv-color-decoration-grey-medium: #9b9b9b;
    --acv-color-decoration-grey-strong: #686867;
    --acv-color-decoration-grey-intense: #535353;
    --acv-color-decoration-pink-light: #ffeaf2;
    --acv-color-decoration-pink-medium: #ff6ca0;
    --acv-color-decoration-pink-strong: #df2868;
    --acv-color-decoration-pink-intense: #982f54;
    --acv-color-decoration-turquoise-light: #e0f3f6;
    --acv-color-decoration-turquoise-medium: #0fadbf;
    --acv-color-decoration-turquoise-strong: #24828f;
    --acv-color-decoration-turquoise-intense: #266068;
    --acv-color-decoration-purple-light: #f8eaff;
    --acv-color-decoration-purple-medium: #d07aff;
    --acv-color-decoration-purple-strong: #b327ff;
    --acv-color-decoration-purple-intense: #841dba;
    --acv-color-decoration-magenta-light: #f1eafe;
    --acv-color-decoration-magenta-medium: #a377f8;
    --acv-color-decoration-magenta-strong: #6e3dd8;
    --acv-color-decoration-magenta-intense: #5a379c;
    --acv-color-decoration-green-light: #e2f5dd;
    --acv-color-decoration-green-medium: #39b437;
    --acv-color-decoration-green-strong: #358730;
    --acv-color-decoration-green-intense: #2d5e28;
    --acv-color-decoration-red-light: #ffe9e5;
    --acv-color-decoration-red-medium: #ff7065;
    --acv-color-decoration-red-strong: #d40834;
    --acv-color-decoration-red-intense: #962f3d;
    --acv-color-decoration-yellow-light: #fff4c0;
    --acv-color-decoration-yellow-medium: #d89000;
    --acv-color-decoration-yellow-strong: #b65f00;
    --acv-color-decoration-yellow-intense: #923c03;
    --acv-color-decoration-blue-light: #eceefe;
    --acv-color-decoration-blue-medium: #7498f8;
    --acv-color-decoration-blue-strong: #3d73d8;
    --acv-color-decoration-blue-intense: #37569c;
    --acv-color-overlay-primary: rgb(10, 10, 10, 0.5);
    --acv-color-overlay-secondary: rgb(255, 255, 255, 0.5);
    --acv-color-overlay-highlight: #4bbbf0;
    --acv-color-shadows-surface: rgb(0, 0, 0, 0.25);
    --acv-color-shadows-overlay: rgb(0, 0, 0, 0.15);
    --acv-color-fixed-black: #0a0a0a;
    --acv-color-fixed-white: #fff;
    --acv-color-technical-thumb: #cfcfcf;
    --acv-color-technical-thumb-inverted: #fff;
    --acv-color-nav-primary: #19213a;
    --acv-color-nav-secondary: #fff;
    --acv-color-nav-tertiary: #979ba6;
    --acv-color-nav-button: #30374e;
    --acv-color-nav-hover: #2c3551;
    --acv-color-nav-active: #343e5f;
    --go-color-spot-primary: #fff;
    --go-color-spot-secondary: #f9f9f9;
    --go-color-spot-tertiary: #f1f1f1;
    --go-color-spot-disabled: #e7e7e7;
    --go-color-spot-accent: #ebf1fc;
    --go-color-spot-danger: #ffede8;
    --go-color-spot-warning: #fdf0ca;
    --go-color-spot-success: #e5f5e2;
    --go-color-spot-info: #e5f3fc;
    --go-color-spot-tretiary: var(--go-color-spot-tertiary);
    --go-color-line-primary: #cfcfcf;
    --go-color-line-secondary: #e7e7e7;
    --go-color-line-accent: rgb(13, 93, 174, 0.95);
    --go-color-line-danger: #ffc0b1;
    --go-color-line-warning: #facd52;
    --go-color-line-success: #a4dda6;
    --go-color-line-info: #99d7fa;
    --go-color-glyph-primary: rgb(10, 10, 10, 0.94);
    --go-color-glyph-secondary: rgb(10, 10, 10, 0.66);
    --go-color-glyph-tertiary: rgb(10, 10, 10, 0.43);
    --go-color-glyph-disabled: rgb(10, 10, 10, 0.36);
    --go-color-glyph-accent: rgb(13, 93, 174, 0.95);
    --go-color-glyph-danger: #da3c2c;
    --go-color-glyph-warning: #e77600;
    --go-color-glyph-success: #44844c;
    --go-color-glyph-info: #0080ad;
    --go-color-glyph-tretiary: var(--go-color-glyph-tertiary);
    --go-color-interaction-spot-hover-filled: var(--go-color-spot-secondary);
    --go-color-interaction-spot-disabled: rgb(10, 10, 10, 0.1);
    --go-color-interaction-glyph-hover: rgb(10, 10, 10, 0.72);
    --go-color-interaction-glyph-active: #124075;
    --go-color-inverted-spot-primary: #0a0a0a;
    --go-color-glyph-inverted-primary: rgb(255, 255, 255, 0.98);
    --go-color-glyph-inverted-secondary: rgb(255, 255, 255, 0.7);
    --go-color-glyph-inverted-accent: #b5d1f7;
    --go-color-glyph-inverted-danger: #ff927d;
    --go-color-glyph-inverted-warning: #facd52;
    --go-color-glyph-inverted-success: #a4dda6;
    --go-color-glyph-inverted-info: #99d7fa;
    --go-color-overlay-hover: rgb(10, 10, 10, 0.06);
    --go-color-overlay-active: rgb(18, 64, 117, 0.1);
    --go-color-overlay-hover-inverted: rgb(255, 255, 255, 0.25);
    --go-color-overlay-danger: rgb(253, 97, 75, 0.12);
    --go-color-overlay-accent: rgb(85, 151, 232, 0.13);
    --go-color-overlay-fade-to-black: rgb(10, 10, 10, 0.5);
    --go-color-overlay-fade-to-white: rgb(255, 255, 255, 0.6);
    --go-color-framing-focus: #2577d3;
    --go-color-framing-selection: #4bbbf0;
    --go-color-spot-jungle: rgb(57, 196, 165, 0.22);
    --go-color-line-jungle: #39c4a5;
    --go-color-glyph-jungle: rgb(25, 134, 111, 0.94);
    --go-color-data-spot-orange: rgb(255, 195, 130, 0.34);
    --go-color-data-line-orange: #ff9632;
    --go-color-data-glyph-orange: rgb(184, 95, 8, 0.92);
    --go-color-data-spot-navy: rgb(75, 187, 240, 0.2);
    --go-color-data-line-navy: #0080ad;
    --go-color-data-glyph-navy: rgb(24, 100, 134, 0.94);
    --go-color-data-spot-yellow: rgb(250, 205, 82, 0.34);
    --go-color-line-yellow: #facd52;
    --go-color-data-glyph-yellow: rgb(199, 164, 40, 0.98);
    --go-color-data-line-purple: #b482c7;
    --go-color-data-spot-purple: rgb(180, 130, 199, 0.25);
    --go-color-data-glyph-purple: rgb(126, 71, 147, 0.92);
    --go-color-data-spot-brick: rgb(253, 97, 75, 0.23);
    --go-color-data-line-brick: #da3c2c;
    --go-color-data-glyph-brick: rgb(176, 44, 31, 0.9);
    --go-color-data-spot-oxide: rgb(145, 190, 71, 0.22);
    --go-color-data-line-oxide: #91be47;
    --go-color-data-glyph-oxide: rgb(83, 100, 41, 0.94);
    --go-color-glyph-ochre: rgb(105, 92, 72, 0.92);
    --go-color-line-ochre: #c8ac81;
    --go-color-data-spot-ochre: rgb(200, 172, 129, 0.22);
    --go-color-data-spot-steel: rgb(153, 182, 178, 0.2);
    --go-color-line-steel: #849997;
    --go-color-data-glyph-steel: rgb(86, 96, 94, 0.94);
    --go-color-data-glyph-1: rgb(17, 106, 85, 0.94);
    --go-color-data-spot-1: rgb(82, 195, 163, 0.22);
    --go-color-data-spot-2: rgb(255, 195, 130, 0.33);
    --go-color-data-glyph-6: rgb(176, 44, 31, 0.93);
    --go-color-data-spot-6: rgb(255, 146, 125, 0.2);
    --go-color-data-glyph-7: rgb(93, 93, 93, 0.93);
    --go-color-data-spot-7: rgb(176, 176, 176, 0.2);
    --acv-color-border-primary: #dddee1;
    --acv-color-border-secondary: #e8e9eb;
    --acv-color-action-primary: #0d2145;
    --acv-color-action-secondary: #e8eced;
    --acv-color-action-tertiary: #fff;
    --acv-color-decoration-white: #fff;
    --acv-color-decoration-black: #141414;
    --acv-color-decoration-orange-10: #ffeadb;
    --acv-color-decoration-orange-40: #fe781b;
    --acv-color-decoration-orange-60: #d63d00;
    --acv-color-decoration-orange-70: #9a3316;
    --acv-color-decoration-blue-10: #eceefe;
    --acv-color-decoration-blue-40: #7498f8;
    --acv-color-decoration-blue-60: #3d73d8;
    --acv-color-decoration-blue-70: #37569c;
    --acv-color-decoration-mint-10: #dff6ee;
    --acv-color-decoration-mint-40: #0fbd83;
    --acv-color-decoration-mint-60: #228665;
    --acv-color-decoration-mint-70: #266952;
    --acv-color-decoration-brown-10: #f3ebe2;
    --acv-color-decoration-brown-40: #c5957a;
    --acv-color-decoration-brown-60: #9c6a4f;
    --acv-color-decoration-brown-70: #7e523b;
    --acv-color-decoration-grey-10: #efefef;
    --acv-color-decoration-grey-40: #9b9b9b;
    --acv-color-decoration-grey-60: #686867;
    --acv-color-decoration-grey-70: #535353;
    --acv-color-decoration-pink-10: #ffeaf2;
    --acv-color-decoration-pink-40: #ff6ca0;
    --acv-color-decoration-pink-60: #df2868;
    --acv-color-decoration-pink-70: #982f54;
    --acv-color-decoration-turquoise-10: #e0f3f6;
    --acv-color-decoration-turquoise-40: #0fadbf;
    --acv-color-decoration-turquoise-60: #24828f;
    --acv-color-decoration-turquoise-70: #266068;
    --acv-color-decoration-purple-10: #f8eaff;
    --acv-color-decoration-purple-40: #d07aff;
    --acv-color-decoration-purple-60: #b327ff;
    --acv-color-decoration-purple-70: #841dba;
    --acv-color-decoration-magenta-10: #f1eafe;
    --acv-color-decoration-magenta-40: #a377f8;
    --acv-color-decoration-magenta-60: #6e3dd8;
    --acv-color-decoration-magenta-70: #5a379c;
    --acv-color-decoration-red-10: #ffe9e5;
    --acv-color-decoration-red-40: #ff7065;
    --acv-color-decoration-red-60: #d40834;
    --acv-color-decoration-red-70: #962f3d;
    --acv-color-decoration-yellow-10: #fff4c0;
    --acv-color-decoration-yellow-30: #ecb200;
    --acv-color-decoration-yellow-40: #d89000;
    --acv-color-decoration-yellow-60: #b65f00;
    --acv-color-decoration-yellow-70: #923c03;
    --acv-color-decoration-green-10: #e2f5dd;
    --acv-color-decoration-green-40: #39b437;
    --acv-color-decoration-green-60: #358730;
    --acv-color-decoration-green-70: #2d5e28;
    --acv-color-scheme: light;
    --go-color-scheme: light;
  }

  /* dark scheme with color scheme override */
  :where(:root:not([class^='go-theme-'], [class^='acv-theme-']), .go-theme-constructor, .acv-theme-constructor):is(.go-color-scheme-dark, .acv-color-scheme-dark),
    /* dark scheme without color scheme override for inverted node */
  :where(:root:not([class^='go-theme-'], [class^='acv-theme-']), .go-theme-constructor, .acv-theme-constructor):not(.go-color-scheme-dark, .acv-color-scheme-dark) .acv-color-scheme-inverted {
    --acv-color-glyph-primary: #fff;
    --acv-color-glyph-secondary: #bbb;
    --acv-color-glyph-tertiary: #777;
    --acv-color-glyph-brand: #e7ecf1;
    --acv-color-glyph-inverted: #111;
    --acv-color-surface-primary: #171717;
    --acv-color-surface-secondary: #212121;
    --acv-color-surface-tertiary: #2d2d2d;
    --acv-color-surface-brand: #19213a;
    --acv-color-surface-inverted: #fff;
    --acv-color-border-strong: #bbb;
    --acv-color-border-medium: #4b4b4b;
    --acv-color-border-light: #282b32;
    --acv-color-border-inverted: #fff;
    --acv-color-state-action-primary: #fff;
    --acv-color-state-action-secondary: #30374c;
    --acv-color-state-action-tertiary: #161a25;
    --acv-color-state-action-brand: #db4f3d;
    --acv-color-state-action-inverted: #0d2145;
    --acv-color-state-hover-primary: #f1f1f1;
    --acv-color-state-hover-secondary: #212633;
    --acv-color-state-hover-tertiary: #212633;
    --acv-color-state-hover-brand: #dd5746;
    --acv-color-state-hover-inverted: #f1f1f1;
    --acv-color-state-active-primary: #262a34;
    --acv-color-state-active-secondary: #1c202f;
    --acv-color-state-active-inverted: #fff;
    --acv-color-state-disabled-primary: #292c36;
    --acv-color-state-disabled-secondary: #32353f;
    --acv-color-state-disabled-inverted: #161a25;
    --acv-color-state-focus-primary: #2577d3;
    --acv-color-status-success-light: #1f332c;
    --acv-color-status-success-medium: #266952;
    --acv-color-status-success-strong: #0fbd83;
    --acv-color-status-danger-light: #4e1d1e;
    --acv-color-status-danger-medium: #962f3d;
    --acv-color-status-danger-strong: #ff7065;
    --acv-color-status-warning-light: #3f2819;
    --acv-color-status-warning-medium: #923c03;
    --acv-color-status-warning-strong: #d89000;
    --acv-color-status-info-light: #262d47;
    --acv-color-status-info-medium: #37569c;
    --acv-color-status-info-strong: #7498f8;
    --acv-color-decoration-orange-light: #5e0b15;
    --acv-color-decoration-orange-medium: #9a3316;
    --acv-color-decoration-orange-strong: #fe781b;
    --acv-color-decoration-orange-intense: #ffa66b;
    --acv-color-decoration-mint-light: #1f332c;
    --acv-color-decoration-mint-medium: #266952;
    --acv-color-decoration-mint-strong: #0fbd83;
    --acv-color-decoration-mint-intense: #78d9b9;
    --acv-color-decoration-brown-light: #492a1d;
    --acv-color-decoration-brown-medium: #7e523b;
    --acv-color-decoration-brown-strong: #c5957a;
    --acv-color-decoration-brown-intense: #caad91;
    --acv-color-decoration-grey-light: #2e2d2d;
    --acv-color-decoration-grey-medium: #535353;
    --acv-color-decoration-grey-strong: #9b9b9b;
    --acv-color-decoration-grey-intense: #b8b8b8;
    --acv-color-decoration-pink-light: #3c282f;
    --acv-color-decoration-pink-medium: #982f54;
    --acv-color-decoration-pink-strong: #ff6ca0;
    --acv-color-decoration-pink-intense: #ff9ec0;
    --acv-color-decoration-turquoise-light: #1f3234;
    --acv-color-decoration-turquoise-medium: #266068;
    --acv-color-decoration-turquoise-strong: #0fadbf;
    --acv-color-decoration-turquoise-intense: #77ccd9;
    --acv-color-decoration-purple-light: #392644;
    --acv-color-decoration-purple-medium: #841dba;
    --acv-color-decoration-purple-strong: #d07aff;
    --acv-color-decoration-purple-intense: #dfa4ff;
    --acv-color-decoration-magenta-light: #2f2747;
    --acv-color-decoration-magenta-medium: #5a379c;
    --acv-color-decoration-magenta-strong: #a377f8;
    --acv-color-decoration-magenta-intense: #cba3fb;
    --acv-color-decoration-green-light: #21321d;
    --acv-color-decoration-green-medium: #2d5e28;
    --acv-color-decoration-green-strong: #39b437;
    --acv-color-decoration-green-intense: #82d376;
    --acv-color-decoration-red-light: #4e1d1e;
    --acv-color-decoration-red-medium: #962f3d;
    --acv-color-decoration-red-strong: #ff7065;
    --acv-color-decoration-red-intense: #ffab9f;
    --acv-color-decoration-yellow-light: #3f2819;
    --acv-color-decoration-yellow-medium: #923c03;
    --acv-color-decoration-yellow-strong: #d89000;
    --acv-color-decoration-yellow-intense: #ecb200;
    --acv-color-decoration-blue-light: #262d47;
    --acv-color-decoration-blue-medium: #37569c;
    --acv-color-decoration-blue-strong: #7498f8;
    --acv-color-decoration-blue-intense: #a5b6fb;
    --acv-color-overlay-primary: rgb(10, 10, 10, 0.5);
    --acv-color-overlay-secondary: rgb(255, 255, 255, 0.5);
    --acv-color-overlay-highlight: #4bbbf0;
    --acv-color-shadows-surface: rgb(0, 0, 0, 0.25);
    --acv-color-shadows-overlay: rgb(0, 0, 0, 0.15);
    --acv-color-fixed-black: #0a0a0a;
    --acv-color-fixed-white: #fff;
    --acv-color-technical-thumb: #cfcfcf;
    --acv-color-technical-thumb-inverted: #fff;
    --acv-color-nav-primary: #1f2331;
    --acv-color-nav-secondary: #fff;
    --acv-color-nav-tertiary: #9a9ca2;
    --acv-color-nav-button: #30374e;
    --acv-color-nav-hover: #2c3551;
    --acv-color-nav-active: #343e5f;
    --go-color-spot-primary: #151515;
    --go-color-spot-secondary: #202020;
    --go-color-spot-tertiary: #242424;
    --go-color-spot-disabled: #050505;
    --go-color-spot-accent: #124075;
    --go-color-spot-danger: #762318;
    --go-color-spot-warning: #493f25;
    --go-color-spot-success: #2c462d;
    --go-color-spot-info: #1e4458;
    --go-color-spot-tretiary: var(--go-color-spot-tertiary);
    --go-color-line-primary: #555;
    --go-color-line-secondary: #444;
    --go-color-line-accent: #cde2fe;
    --go-color-line-danger: #b02c1f;
    --go-color-line-warning: #8d7434;
    --go-color-line-success: #52a65d;
    --go-color-line-info: #186486;
    --go-color-glyph-primary: rgb(255, 255, 255, 0.88);
    --go-color-glyph-secondary: rgb(255, 255, 255, 0.75);
    --go-color-glyph-tertiary: rgb(255, 255, 255, 0.5);
    --go-color-glyph-disabled: rgb(255, 255, 255, 0.3);
    --go-color-glyph-accent: #cde2fe;
    --go-color-glyph-danger: #ff8675;
    --go-color-glyph-warning: #fed872;
    --go-color-glyph-success: #88dd91;
    --go-color-glyph-info: #4bbbf0;
    --go-color-glyph-tretiary: var(--go-color-glyph-tertiary);
    --go-color-interaction-spot-hover-filled: var(--go-color-spot-secondary);
    --go-color-interaction-spot-disabled: rgb(10, 10, 10, 0.1);
    --go-color-interaction-glyph-hover: rgb(10, 10, 10, 0.72);
    --go-color-interaction-glyph-active: #124075;
    --go-color-inverted-spot-primary: #fff;
    --go-color-glyph-inverted-primary: rgb(10, 10, 10, 0.98);
    --go-color-glyph-inverted-secondary: rgb(10, 10, 10, 0.7);
    --go-color-glyph-inverted-accent: #124075;
    --go-color-glyph-inverted-danger: #b02c1f;
    --go-color-glyph-inverted-warning: #8d7434;
    --go-color-glyph-inverted-success: #52a65d;
    --go-color-glyph-inverted-info: #186486;
    --go-color-overlay-hover: rgb(255, 255, 255, 0.06);
    --go-color-overlay-active: rgb(85, 151, 232, 0.2);
    --go-color-overlay-hover-inverted: rgb(255, 255, 255, 0.25);
    --go-color-overlay-danger: rgb(253, 97, 75, 0.12);
    --go-color-overlay-accent: rgb(85, 151, 232, 0.13);
    --go-color-overlay-fade-to-black: rgb(10, 10, 10, 0.5);
    --go-color-overlay-fade-to-white: rgb(255, 255, 255, 0.6);
    --go-color-framing-focus: #61b8ff;
    --go-color-framing-selection: rgb(114, 226, 254, 1);
    --go-color-spot-jungle: rgb(34, 70, 61, 1);
    --go-color-line-jungle: rgb(107, 210, 187, 1);
    --go-color-glyph-jungle: #b4e6dc;
    --go-color-data-spot-orange: rgb(94, 54, 21, 1);
    --go-color-data-line-orange: rgb(255, 168, 86, 1);
    --go-color-data-glyph-orange: rgb(245, 212, 172, 1);
    --go-color-data-spot-navy: rgb(30, 68, 88, 1);
    --go-color-data-line-navy: rgb(24, 169, 220, 1);
    --go-color-data-glyph-navy: rgb(183, 224, 242, 1);
    --go-color-data-spot-yellow: rgb(113, 92, 33, 1);
    --go-color-line-yellow: rgb(255, 211, 92, 1);
    --go-color-data-glyph-yellow: rgb(248, 214, 111, 1);
    --go-color-data-line-purple: rgb(191, 134, 213, 1);
    --go-color-data-spot-purple: rgb(60, 39, 68, 1);
    --go-color-data-glyph-purple: rgb(226, 205, 238, 1);
    --go-color-data-spot-brick: rgb(159, 59, 45, 1);
    --go-color-data-line-brick: rgb(227, 83, 69, 1);
    --go-color-data-glyph-brick: rgb(247, 195, 186, 1);
    --go-color-data-spot-oxide: rgb(83, 101, 46, 1);
    --go-color-data-line-oxide: rgb(155, 200, 81, 1);
    --go-color-data-glyph-oxide: rgb(197, 219, 148, 1);
    --go-color-glyph-ochre: rgb(224, 207, 174, 1);
    --go-color-line-ochre: rgb(213, 186, 144, 1);
    --go-color-data-spot-ochre: rgb(106, 93, 73, 1);
    --go-color-data-spot-steel: rgb(73, 80, 79, 1);
    --go-color-line-steel: rgb(141, 165, 163, 1);
    --go-color-data-glyph-steel: rgb(212, 219, 218, 1);
    --go-color-data-glyph-1: rgb(17, 106, 85, 0.94);
    --go-color-data-spot-1: rgb(82, 195, 163, 0.22);
    --go-color-data-spot-2: rgb(255, 195, 130, 0.33);
    --go-color-data-glyph-6: rgb(176, 44, 31, 0.93);
    --go-color-data-spot-6: rgb(255, 146, 125, 0.2);
    --go-color-data-glyph-7: rgb(93, 93, 93, 0.93);
    --go-color-data-spot-7: rgb(176, 176, 176, 0.2);
    --acv-color-border-primary: #4b4b4b;
    --acv-color-border-secondary: #282b32;
    --acv-color-action-primary: #fff;
    --acv-color-action-secondary: #30374c;
    --acv-color-action-tertiary: #161a25;
    --acv-color-decoration-white: #fed701;
    --acv-color-decoration-black: #fed701;
    --acv-color-decoration-orange-10: #fff;
    --acv-color-decoration-orange-40: #fff;
    --acv-color-decoration-orange-60: #fff;
    --acv-color-decoration-orange-70: #fff;
    --acv-color-decoration-blue-10: #fff;
    --acv-color-decoration-blue-40: #fff;
    --acv-color-decoration-blue-60: #fff;
    --acv-color-decoration-blue-70: #fff;
    --acv-color-decoration-mint-10: #fff;
    --acv-color-decoration-mint-40: #fff;
    --acv-color-decoration-mint-60: #fff;
    --acv-color-decoration-mint-70: #fff;
    --acv-color-decoration-brown-10: #fff;
    --acv-color-decoration-brown-40: #fff;
    --acv-color-decoration-brown-60: #fff;
    --acv-color-decoration-brown-70: #fff;
    --acv-color-decoration-grey-10: #fff;
    --acv-color-decoration-grey-40: #fff;
    --acv-color-decoration-grey-60: #fff;
    --acv-color-decoration-grey-70: #fff;
    --acv-color-decoration-pink-10: #fff;
    --acv-color-decoration-pink-40: #fff;
    --acv-color-decoration-pink-60: #fff;
    --acv-color-decoration-pink-70: #fff;
    --acv-color-decoration-turquoise-10: #fff;
    --acv-color-decoration-turquoise-40: #fff;
    --acv-color-decoration-turquoise-60: #fff;
    --acv-color-decoration-turquoise-70: #fff;
    --acv-color-decoration-purple-10: #fff;
    --acv-color-decoration-purple-40: #fff;
    --acv-color-decoration-purple-60: #fff;
    --acv-color-decoration-purple-70: #fff;
    --acv-color-decoration-magenta-10: #fff;
    --acv-color-decoration-magenta-40: #fff;
    --acv-color-decoration-magenta-60: #fff;
    --acv-color-decoration-magenta-70: #fff;
    --acv-color-decoration-red-10: #fff;
    --acv-color-decoration-red-40: #fff;
    --acv-color-decoration-red-60: #fff;
    --acv-color-decoration-red-70: #fff;
    --acv-color-decoration-yellow-10: #fff;
    --acv-color-decoration-yellow-30: #fff;
    --acv-color-decoration-yellow-40: #fff;
    --acv-color-decoration-yellow-60: #fff;
    --acv-color-decoration-yellow-70: #fff;
    --acv-color-decoration-green-10: #fff;
    --acv-color-decoration-green-40: #fff;
    --acv-color-decoration-green-60: #fff;
    --acv-color-decoration-green-70: #fff;
    --acv-color-scheme: dark;
    --go-color-scheme: dark;
  }
}
@media (prefers-color-scheme: dark) {
  /* light scheme with color scheme override */
  :where(:root:not([class^='go-theme-'], [class^='acv-theme-']), .go-theme-constructor, .acv-theme-constructor):is(.go-color-scheme-light, .acv-color-scheme-light),
    /* light scheme without color scheme override for inverted node */
  :where(:root:not([class^='go-theme-'], [class^='acv-theme-']), .go-theme-constructor, .acv-theme-constructor):not(.go-color-scheme-light, .acv-color-scheme-light) .acv-color-scheme-inverted {
    --acv-color-glyph-primary: #111;
    --acv-color-glyph-secondary: #6a6a6a;
    --acv-color-glyph-tertiary: #bbb;
    --acv-color-glyph-brand: #19213a;
    --acv-color-glyph-inverted: #fff;
    --acv-color-surface-primary: #fff;
    --acv-color-surface-secondary: #f7f7f8;
    --acv-color-surface-tertiary: #ecedef;
    --acv-color-surface-brand: #19213a;
    --acv-color-surface-inverted: #0a0a0a;
    --acv-color-border-strong: rgb(0, 0, 0, 0.58);
    --acv-color-border-medium: rgb(0, 0, 0, 0.13);
    --acv-color-border-light: rgb(0, 0, 0, 0.09);
    --acv-color-border-inverted: rgb(0, 0, 0, 0.93);
    --acv-color-state-action-primary: #0d2145;
    --acv-color-state-action-secondary: #e8eced;
    --acv-color-state-action-tertiary: #fff;
    --acv-color-state-action-brand: #d63c28;
    --acv-color-state-action-inverted: #fff;
    --acv-color-state-hover-primary: #0a1934;
    --acv-color-state-hover-secondary: #d5dbdc;
    --acv-color-state-hover-tertiary: #e8eced;
    --acv-color-state-hover-brand: #ce3a27;
    --acv-color-state-hover-inverted: #f1f1f1;
    --acv-color-state-active-primary: #d1d5dc;
    --acv-color-state-active-secondary: #e7ecf1;
    --acv-color-state-active-inverted: #fff;
    --acv-color-state-disabled-primary: #f0f0f0;
    --acv-color-state-disabled-secondary: #f1f1f1;
    --acv-color-state-disabled-inverted: #fff;
    --acv-color-state-focus-primary: #008ce3;
    --acv-color-status-success-light: #dff6ee;
    --acv-color-status-success-medium: #0fbd83;
    --acv-color-status-success-strong: #228665;
    --acv-color-status-danger-light: #ffe9e5;
    --acv-color-status-danger-medium: #ff7065;
    --acv-color-status-danger-strong: #d40834;
    --acv-color-status-warning-light: #fff4c0;
    --acv-color-status-warning-medium: #d89000;
    --acv-color-status-warning-strong: #b65f00;
    --acv-color-status-info-light: #eceefe;
    --acv-color-status-info-medium: #7498f8;
    --acv-color-status-info-strong: #3d73d8;
    --acv-color-decoration-orange-light: #ffeadb;
    --acv-color-decoration-orange-medium: #fe781b;
    --acv-color-decoration-orange-strong: #d63d00;
    --acv-color-decoration-orange-intense: #9a3316;
    --acv-color-decoration-mint-light: #dff6ee;
    --acv-color-decoration-mint-medium: #0fbd83;
    --acv-color-decoration-mint-strong: #228665;
    --acv-color-decoration-mint-intense: #266952;
    --acv-color-decoration-brown-light: #f3ebe2;
    --acv-color-decoration-brown-medium: #c5957a;
    --acv-color-decoration-brown-strong: #9c6a4f;
    --acv-color-decoration-brown-intense: #7e523b;
    --acv-color-decoration-grey-light: #efefef;
    --acv-color-decoration-grey-medium: #9b9b9b;
    --acv-color-decoration-grey-strong: #686867;
    --acv-color-decoration-grey-intense: #535353;
    --acv-color-decoration-pink-light: #ffeaf2;
    --acv-color-decoration-pink-medium: #ff6ca0;
    --acv-color-decoration-pink-strong: #df2868;
    --acv-color-decoration-pink-intense: #982f54;
    --acv-color-decoration-turquoise-light: #e0f3f6;
    --acv-color-decoration-turquoise-medium: #0fadbf;
    --acv-color-decoration-turquoise-strong: #24828f;
    --acv-color-decoration-turquoise-intense: #266068;
    --acv-color-decoration-purple-light: #f8eaff;
    --acv-color-decoration-purple-medium: #d07aff;
    --acv-color-decoration-purple-strong: #b327ff;
    --acv-color-decoration-purple-intense: #841dba;
    --acv-color-decoration-magenta-light: #f1eafe;
    --acv-color-decoration-magenta-medium: #a377f8;
    --acv-color-decoration-magenta-strong: #6e3dd8;
    --acv-color-decoration-magenta-intense: #5a379c;
    --acv-color-decoration-green-light: #e2f5dd;
    --acv-color-decoration-green-medium: #39b437;
    --acv-color-decoration-green-strong: #358730;
    --acv-color-decoration-green-intense: #2d5e28;
    --acv-color-decoration-red-light: #ffe9e5;
    --acv-color-decoration-red-medium: #ff7065;
    --acv-color-decoration-red-strong: #d40834;
    --acv-color-decoration-red-intense: #962f3d;
    --acv-color-decoration-yellow-light: #fff4c0;
    --acv-color-decoration-yellow-medium: #d89000;
    --acv-color-decoration-yellow-strong: #b65f00;
    --acv-color-decoration-yellow-intense: #923c03;
    --acv-color-decoration-blue-light: #eceefe;
    --acv-color-decoration-blue-medium: #7498f8;
    --acv-color-decoration-blue-strong: #3d73d8;
    --acv-color-decoration-blue-intense: #37569c;
    --acv-color-overlay-primary: rgb(10, 10, 10, 0.5);
    --acv-color-overlay-secondary: rgb(255, 255, 255, 0.5);
    --acv-color-overlay-highlight: #4bbbf0;
    --acv-color-shadows-surface: rgb(0, 0, 0, 0.25);
    --acv-color-shadows-overlay: rgb(0, 0, 0, 0.15);
    --acv-color-fixed-black: #0a0a0a;
    --acv-color-fixed-white: #fff;
    --acv-color-technical-thumb: #cfcfcf;
    --acv-color-technical-thumb-inverted: #fff;
    --acv-color-nav-primary: #19213a;
    --acv-color-nav-secondary: #fff;
    --acv-color-nav-tertiary: #979ba6;
    --acv-color-nav-button: #30374e;
    --acv-color-nav-hover: #2c3551;
    --acv-color-nav-active: #343e5f;
    --go-color-spot-primary: #fff;
    --go-color-spot-secondary: #f9f9f9;
    --go-color-spot-tertiary: #f1f1f1;
    --go-color-spot-disabled: #e7e7e7;
    --go-color-spot-accent: #ebf1fc;
    --go-color-spot-danger: #ffede8;
    --go-color-spot-warning: #fdf0ca;
    --go-color-spot-success: #e5f5e2;
    --go-color-spot-info: #e5f3fc;
    --go-color-spot-tretiary: var(--go-color-spot-tertiary);
    --go-color-line-primary: #cfcfcf;
    --go-color-line-secondary: #e7e7e7;
    --go-color-line-accent: rgb(13, 93, 174, 0.95);
    --go-color-line-danger: #ffc0b1;
    --go-color-line-warning: #facd52;
    --go-color-line-success: #a4dda6;
    --go-color-line-info: #99d7fa;
    --go-color-glyph-primary: rgb(10, 10, 10, 0.94);
    --go-color-glyph-secondary: rgb(10, 10, 10, 0.66);
    --go-color-glyph-tertiary: rgb(10, 10, 10, 0.43);
    --go-color-glyph-disabled: rgb(10, 10, 10, 0.36);
    --go-color-glyph-accent: rgb(13, 93, 174, 0.95);
    --go-color-glyph-danger: #da3c2c;
    --go-color-glyph-warning: #e77600;
    --go-color-glyph-success: #44844c;
    --go-color-glyph-info: #0080ad;
    --go-color-glyph-tretiary: var(--go-color-glyph-tertiary);
    --go-color-interaction-spot-hover-filled: var(--go-color-spot-secondary);
    --go-color-interaction-spot-disabled: rgb(10, 10, 10, 0.1);
    --go-color-interaction-glyph-hover: rgb(10, 10, 10, 0.72);
    --go-color-interaction-glyph-active: #124075;
    --go-color-inverted-spot-primary: #0a0a0a;
    --go-color-glyph-inverted-primary: rgb(255, 255, 255, 0.98);
    --go-color-glyph-inverted-secondary: rgb(255, 255, 255, 0.7);
    --go-color-glyph-inverted-accent: #b5d1f7;
    --go-color-glyph-inverted-danger: #ff927d;
    --go-color-glyph-inverted-warning: #facd52;
    --go-color-glyph-inverted-success: #a4dda6;
    --go-color-glyph-inverted-info: #99d7fa;
    --go-color-overlay-hover: rgb(10, 10, 10, 0.06);
    --go-color-overlay-active: rgb(18, 64, 117, 0.1);
    --go-color-overlay-hover-inverted: rgb(255, 255, 255, 0.25);
    --go-color-overlay-danger: rgb(253, 97, 75, 0.12);
    --go-color-overlay-accent: rgb(85, 151, 232, 0.13);
    --go-color-overlay-fade-to-black: rgb(10, 10, 10, 0.5);
    --go-color-overlay-fade-to-white: rgb(255, 255, 255, 0.6);
    --go-color-framing-focus: #2577d3;
    --go-color-framing-selection: #4bbbf0;
    --go-color-spot-jungle: rgb(57, 196, 165, 0.22);
    --go-color-line-jungle: #39c4a5;
    --go-color-glyph-jungle: rgb(25, 134, 111, 0.94);
    --go-color-data-spot-orange: rgb(255, 195, 130, 0.34);
    --go-color-data-line-orange: #ff9632;
    --go-color-data-glyph-orange: rgb(184, 95, 8, 0.92);
    --go-color-data-spot-navy: rgb(75, 187, 240, 0.2);
    --go-color-data-line-navy: #0080ad;
    --go-color-data-glyph-navy: rgb(24, 100, 134, 0.94);
    --go-color-data-spot-yellow: rgb(250, 205, 82, 0.34);
    --go-color-line-yellow: #facd52;
    --go-color-data-glyph-yellow: rgb(199, 164, 40, 0.98);
    --go-color-data-line-purple: #b482c7;
    --go-color-data-spot-purple: rgb(180, 130, 199, 0.25);
    --go-color-data-glyph-purple: rgb(126, 71, 147, 0.92);
    --go-color-data-spot-brick: rgb(253, 97, 75, 0.23);
    --go-color-data-line-brick: #da3c2c;
    --go-color-data-glyph-brick: rgb(176, 44, 31, 0.9);
    --go-color-data-spot-oxide: rgb(145, 190, 71, 0.22);
    --go-color-data-line-oxide: #91be47;
    --go-color-data-glyph-oxide: rgb(83, 100, 41, 0.94);
    --go-color-glyph-ochre: rgb(105, 92, 72, 0.92);
    --go-color-line-ochre: #c8ac81;
    --go-color-data-spot-ochre: rgb(200, 172, 129, 0.22);
    --go-color-data-spot-steel: rgb(153, 182, 178, 0.2);
    --go-color-line-steel: #849997;
    --go-color-data-glyph-steel: rgb(86, 96, 94, 0.94);
    --go-color-data-glyph-1: rgb(17, 106, 85, 0.94);
    --go-color-data-spot-1: rgb(82, 195, 163, 0.22);
    --go-color-data-spot-2: rgb(255, 195, 130, 0.33);
    --go-color-data-glyph-6: rgb(176, 44, 31, 0.93);
    --go-color-data-spot-6: rgb(255, 146, 125, 0.2);
    --go-color-data-glyph-7: rgb(93, 93, 93, 0.93);
    --go-color-data-spot-7: rgb(176, 176, 176, 0.2);
    --acv-color-border-primary: #dddee1;
    --acv-color-border-secondary: #e8e9eb;
    --acv-color-action-primary: #0d2145;
    --acv-color-action-secondary: #e8eced;
    --acv-color-action-tertiary: #fff;
    --acv-color-decoration-white: #fff;
    --acv-color-decoration-black: #141414;
    --acv-color-decoration-orange-10: #ffeadb;
    --acv-color-decoration-orange-40: #fe781b;
    --acv-color-decoration-orange-60: #d63d00;
    --acv-color-decoration-orange-70: #9a3316;
    --acv-color-decoration-blue-10: #eceefe;
    --acv-color-decoration-blue-40: #7498f8;
    --acv-color-decoration-blue-60: #3d73d8;
    --acv-color-decoration-blue-70: #37569c;
    --acv-color-decoration-mint-10: #dff6ee;
    --acv-color-decoration-mint-40: #0fbd83;
    --acv-color-decoration-mint-60: #228665;
    --acv-color-decoration-mint-70: #266952;
    --acv-color-decoration-brown-10: #f3ebe2;
    --acv-color-decoration-brown-40: #c5957a;
    --acv-color-decoration-brown-60: #9c6a4f;
    --acv-color-decoration-brown-70: #7e523b;
    --acv-color-decoration-grey-10: #efefef;
    --acv-color-decoration-grey-40: #9b9b9b;
    --acv-color-decoration-grey-60: #686867;
    --acv-color-decoration-grey-70: #535353;
    --acv-color-decoration-pink-10: #ffeaf2;
    --acv-color-decoration-pink-40: #ff6ca0;
    --acv-color-decoration-pink-60: #df2868;
    --acv-color-decoration-pink-70: #982f54;
    --acv-color-decoration-turquoise-10: #e0f3f6;
    --acv-color-decoration-turquoise-40: #0fadbf;
    --acv-color-decoration-turquoise-60: #24828f;
    --acv-color-decoration-turquoise-70: #266068;
    --acv-color-decoration-purple-10: #f8eaff;
    --acv-color-decoration-purple-40: #d07aff;
    --acv-color-decoration-purple-60: #b327ff;
    --acv-color-decoration-purple-70: #841dba;
    --acv-color-decoration-magenta-10: #f1eafe;
    --acv-color-decoration-magenta-40: #a377f8;
    --acv-color-decoration-magenta-60: #6e3dd8;
    --acv-color-decoration-magenta-70: #5a379c;
    --acv-color-decoration-red-10: #ffe9e5;
    --acv-color-decoration-red-40: #ff7065;
    --acv-color-decoration-red-60: #d40834;
    --acv-color-decoration-red-70: #962f3d;
    --acv-color-decoration-yellow-10: #fff4c0;
    --acv-color-decoration-yellow-30: #ecb200;
    --acv-color-decoration-yellow-40: #d89000;
    --acv-color-decoration-yellow-60: #b65f00;
    --acv-color-decoration-yellow-70: #923c03;
    --acv-color-decoration-green-10: #e2f5dd;
    --acv-color-decoration-green-40: #39b437;
    --acv-color-decoration-green-60: #358730;
    --acv-color-decoration-green-70: #2d5e28;
    --acv-color-scheme: light;
    --go-color-scheme: light;
  }

  /* dark theme without color scheme override */
  :where(:root:not([class^='go-theme-'], [class^='acv-theme-']), .go-theme-constructor, .acv-theme-constructor):not(.go-color-scheme-light, .acv-color-scheme-light),
    /* dark theme with color scheme override for inverted node */
  :where(:root:not([class^='go-theme-'], [class^='acv-theme-']), .go-theme-constructor, .acv-theme-constructor):is(.go-color-scheme-light, .acv-color-scheme-light) .acv-color-scheme-inverted {
    --acv-color-glyph-primary: #fff;
    --acv-color-glyph-secondary: #bbb;
    --acv-color-glyph-tertiary: #777;
    --acv-color-glyph-brand: #e7ecf1;
    --acv-color-glyph-inverted: #111;
    --acv-color-surface-primary: #171717;
    --acv-color-surface-secondary: #212121;
    --acv-color-surface-tertiary: #2d2d2d;
    --acv-color-surface-brand: #19213a;
    --acv-color-surface-inverted: #fff;
    --acv-color-border-strong: #bbb;
    --acv-color-border-medium: #4b4b4b;
    --acv-color-border-light: #282b32;
    --acv-color-border-inverted: #fff;
    --acv-color-state-action-primary: #fff;
    --acv-color-state-action-secondary: #30374c;
    --acv-color-state-action-tertiary: #161a25;
    --acv-color-state-action-brand: #db4f3d;
    --acv-color-state-action-inverted: #0d2145;
    --acv-color-state-hover-primary: #f1f1f1;
    --acv-color-state-hover-secondary: #212633;
    --acv-color-state-hover-tertiary: #212633;
    --acv-color-state-hover-brand: #dd5746;
    --acv-color-state-hover-inverted: #f1f1f1;
    --acv-color-state-active-primary: #262a34;
    --acv-color-state-active-secondary: #1c202f;
    --acv-color-state-active-inverted: #fff;
    --acv-color-state-disabled-primary: #292c36;
    --acv-color-state-disabled-secondary: #32353f;
    --acv-color-state-disabled-inverted: #161a25;
    --acv-color-state-focus-primary: #2577d3;
    --acv-color-status-success-light: #1f332c;
    --acv-color-status-success-medium: #266952;
    --acv-color-status-success-strong: #0fbd83;
    --acv-color-status-danger-light: #4e1d1e;
    --acv-color-status-danger-medium: #962f3d;
    --acv-color-status-danger-strong: #ff7065;
    --acv-color-status-warning-light: #3f2819;
    --acv-color-status-warning-medium: #923c03;
    --acv-color-status-warning-strong: #d89000;
    --acv-color-status-info-light: #262d47;
    --acv-color-status-info-medium: #37569c;
    --acv-color-status-info-strong: #7498f8;
    --acv-color-decoration-orange-light: #5e0b15;
    --acv-color-decoration-orange-medium: #9a3316;
    --acv-color-decoration-orange-strong: #fe781b;
    --acv-color-decoration-orange-intense: #ffa66b;
    --acv-color-decoration-mint-light: #1f332c;
    --acv-color-decoration-mint-medium: #266952;
    --acv-color-decoration-mint-strong: #0fbd83;
    --acv-color-decoration-mint-intense: #78d9b9;
    --acv-color-decoration-brown-light: #492a1d;
    --acv-color-decoration-brown-medium: #7e523b;
    --acv-color-decoration-brown-strong: #c5957a;
    --acv-color-decoration-brown-intense: #caad91;
    --acv-color-decoration-grey-light: #2e2d2d;
    --acv-color-decoration-grey-medium: #535353;
    --acv-color-decoration-grey-strong: #9b9b9b;
    --acv-color-decoration-grey-intense: #b8b8b8;
    --acv-color-decoration-pink-light: #3c282f;
    --acv-color-decoration-pink-medium: #982f54;
    --acv-color-decoration-pink-strong: #ff6ca0;
    --acv-color-decoration-pink-intense: #ff9ec0;
    --acv-color-decoration-turquoise-light: #1f3234;
    --acv-color-decoration-turquoise-medium: #266068;
    --acv-color-decoration-turquoise-strong: #0fadbf;
    --acv-color-decoration-turquoise-intense: #77ccd9;
    --acv-color-decoration-purple-light: #392644;
    --acv-color-decoration-purple-medium: #841dba;
    --acv-color-decoration-purple-strong: #d07aff;
    --acv-color-decoration-purple-intense: #dfa4ff;
    --acv-color-decoration-magenta-light: #2f2747;
    --acv-color-decoration-magenta-medium: #5a379c;
    --acv-color-decoration-magenta-strong: #a377f8;
    --acv-color-decoration-magenta-intense: #cba3fb;
    --acv-color-decoration-green-light: #21321d;
    --acv-color-decoration-green-medium: #2d5e28;
    --acv-color-decoration-green-strong: #39b437;
    --acv-color-decoration-green-intense: #82d376;
    --acv-color-decoration-red-light: #4e1d1e;
    --acv-color-decoration-red-medium: #962f3d;
    --acv-color-decoration-red-strong: #ff7065;
    --acv-color-decoration-red-intense: #ffab9f;
    --acv-color-decoration-yellow-light: #3f2819;
    --acv-color-decoration-yellow-medium: #923c03;
    --acv-color-decoration-yellow-strong: #d89000;
    --acv-color-decoration-yellow-intense: #ecb200;
    --acv-color-decoration-blue-light: #262d47;
    --acv-color-decoration-blue-medium: #37569c;
    --acv-color-decoration-blue-strong: #7498f8;
    --acv-color-decoration-blue-intense: #a5b6fb;
    --acv-color-overlay-primary: rgb(10, 10, 10, 0.5);
    --acv-color-overlay-secondary: rgb(255, 255, 255, 0.5);
    --acv-color-overlay-highlight: #4bbbf0;
    --acv-color-shadows-surface: rgb(0, 0, 0, 0.25);
    --acv-color-shadows-overlay: rgb(0, 0, 0, 0.15);
    --acv-color-fixed-black: #0a0a0a;
    --acv-color-fixed-white: #fff;
    --acv-color-technical-thumb: #cfcfcf;
    --acv-color-technical-thumb-inverted: #fff;
    --acv-color-nav-primary: #1f2331;
    --acv-color-nav-secondary: #fff;
    --acv-color-nav-tertiary: #9a9ca2;
    --acv-color-nav-button: #30374e;
    --acv-color-nav-hover: #2c3551;
    --acv-color-nav-active: #343e5f;
    --go-color-spot-primary: #151515;
    --go-color-spot-secondary: #202020;
    --go-color-spot-tertiary: #242424;
    --go-color-spot-disabled: #050505;
    --go-color-spot-accent: #124075;
    --go-color-spot-danger: #762318;
    --go-color-spot-warning: #493f25;
    --go-color-spot-success: #2c462d;
    --go-color-spot-info: #1e4458;
    --go-color-spot-tretiary: var(--go-color-spot-tertiary);
    --go-color-line-primary: #555;
    --go-color-line-secondary: #444;
    --go-color-line-accent: #cde2fe;
    --go-color-line-danger: #b02c1f;
    --go-color-line-warning: #8d7434;
    --go-color-line-success: #52a65d;
    --go-color-line-info: #186486;
    --go-color-glyph-primary: rgb(255, 255, 255, 0.88);
    --go-color-glyph-secondary: rgb(255, 255, 255, 0.75);
    --go-color-glyph-tertiary: rgb(255, 255, 255, 0.5);
    --go-color-glyph-disabled: rgb(255, 255, 255, 0.3);
    --go-color-glyph-accent: #cde2fe;
    --go-color-glyph-danger: #ff8675;
    --go-color-glyph-warning: #fed872;
    --go-color-glyph-success: #88dd91;
    --go-color-glyph-info: #4bbbf0;
    --go-color-glyph-tretiary: var(--go-color-glyph-tertiary);
    --go-color-interaction-spot-hover-filled: var(--go-color-spot-secondary);
    --go-color-interaction-spot-disabled: rgb(10, 10, 10, 0.1);
    --go-color-interaction-glyph-hover: rgb(10, 10, 10, 0.72);
    --go-color-interaction-glyph-active: #124075;
    --go-color-inverted-spot-primary: #fff;
    --go-color-glyph-inverted-primary: rgb(10, 10, 10, 0.98);
    --go-color-glyph-inverted-secondary: rgb(10, 10, 10, 0.7);
    --go-color-glyph-inverted-accent: #124075;
    --go-color-glyph-inverted-danger: #b02c1f;
    --go-color-glyph-inverted-warning: #8d7434;
    --go-color-glyph-inverted-success: #52a65d;
    --go-color-glyph-inverted-info: #186486;
    --go-color-overlay-hover: rgb(255, 255, 255, 0.06);
    --go-color-overlay-active: rgb(85, 151, 232, 0.2);
    --go-color-overlay-hover-inverted: rgb(255, 255, 255, 0.25);
    --go-color-overlay-danger: rgb(253, 97, 75, 0.12);
    --go-color-overlay-accent: rgb(85, 151, 232, 0.13);
    --go-color-overlay-fade-to-black: rgb(10, 10, 10, 0.5);
    --go-color-overlay-fade-to-white: rgb(255, 255, 255, 0.6);
    --go-color-framing-focus: #61b8ff;
    --go-color-framing-selection: rgb(114, 226, 254, 1);
    --go-color-spot-jungle: rgb(34, 70, 61, 1);
    --go-color-line-jungle: rgb(107, 210, 187, 1);
    --go-color-glyph-jungle: #b4e6dc;
    --go-color-data-spot-orange: rgb(94, 54, 21, 1);
    --go-color-data-line-orange: rgb(255, 168, 86, 1);
    --go-color-data-glyph-orange: rgb(245, 212, 172, 1);
    --go-color-data-spot-navy: rgb(30, 68, 88, 1);
    --go-color-data-line-navy: rgb(24, 169, 220, 1);
    --go-color-data-glyph-navy: rgb(183, 224, 242, 1);
    --go-color-data-spot-yellow: rgb(113, 92, 33, 1);
    --go-color-line-yellow: rgb(255, 211, 92, 1);
    --go-color-data-glyph-yellow: rgb(248, 214, 111, 1);
    --go-color-data-line-purple: rgb(191, 134, 213, 1);
    --go-color-data-spot-purple: rgb(60, 39, 68, 1);
    --go-color-data-glyph-purple: rgb(226, 205, 238, 1);
    --go-color-data-spot-brick: rgb(159, 59, 45, 1);
    --go-color-data-line-brick: rgb(227, 83, 69, 1);
    --go-color-data-glyph-brick: rgb(247, 195, 186, 1);
    --go-color-data-spot-oxide: rgb(83, 101, 46, 1);
    --go-color-data-line-oxide: rgb(155, 200, 81, 1);
    --go-color-data-glyph-oxide: rgb(197, 219, 148, 1);
    --go-color-glyph-ochre: rgb(224, 207, 174, 1);
    --go-color-line-ochre: rgb(213, 186, 144, 1);
    --go-color-data-spot-ochre: rgb(106, 93, 73, 1);
    --go-color-data-spot-steel: rgb(73, 80, 79, 1);
    --go-color-line-steel: rgb(141, 165, 163, 1);
    --go-color-data-glyph-steel: rgb(212, 219, 218, 1);
    --go-color-data-glyph-1: rgb(17, 106, 85, 0.94);
    --go-color-data-spot-1: rgb(82, 195, 163, 0.22);
    --go-color-data-spot-2: rgb(255, 195, 130, 0.33);
    --go-color-data-glyph-6: rgb(176, 44, 31, 0.93);
    --go-color-data-spot-6: rgb(255, 146, 125, 0.2);
    --go-color-data-glyph-7: rgb(93, 93, 93, 0.93);
    --go-color-data-spot-7: rgb(176, 176, 176, 0.2);
    --acv-color-border-primary: #4b4b4b;
    --acv-color-border-secondary: #282b32;
    --acv-color-action-primary: #fff;
    --acv-color-action-secondary: #30374c;
    --acv-color-action-tertiary: #161a25;
    --acv-color-decoration-white: #fed701;
    --acv-color-decoration-black: #fed701;
    --acv-color-decoration-orange-10: #fff;
    --acv-color-decoration-orange-40: #fff;
    --acv-color-decoration-orange-60: #fff;
    --acv-color-decoration-orange-70: #fff;
    --acv-color-decoration-blue-10: #fff;
    --acv-color-decoration-blue-40: #fff;
    --acv-color-decoration-blue-60: #fff;
    --acv-color-decoration-blue-70: #fff;
    --acv-color-decoration-mint-10: #fff;
    --acv-color-decoration-mint-40: #fff;
    --acv-color-decoration-mint-60: #fff;
    --acv-color-decoration-mint-70: #fff;
    --acv-color-decoration-brown-10: #fff;
    --acv-color-decoration-brown-40: #fff;
    --acv-color-decoration-brown-60: #fff;
    --acv-color-decoration-brown-70: #fff;
    --acv-color-decoration-grey-10: #fff;
    --acv-color-decoration-grey-40: #fff;
    --acv-color-decoration-grey-60: #fff;
    --acv-color-decoration-grey-70: #fff;
    --acv-color-decoration-pink-10: #fff;
    --acv-color-decoration-pink-40: #fff;
    --acv-color-decoration-pink-60: #fff;
    --acv-color-decoration-pink-70: #fff;
    --acv-color-decoration-turquoise-10: #fff;
    --acv-color-decoration-turquoise-40: #fff;
    --acv-color-decoration-turquoise-60: #fff;
    --acv-color-decoration-turquoise-70: #fff;
    --acv-color-decoration-purple-10: #fff;
    --acv-color-decoration-purple-40: #fff;
    --acv-color-decoration-purple-60: #fff;
    --acv-color-decoration-purple-70: #fff;
    --acv-color-decoration-magenta-10: #fff;
    --acv-color-decoration-magenta-40: #fff;
    --acv-color-decoration-magenta-60: #fff;
    --acv-color-decoration-magenta-70: #fff;
    --acv-color-decoration-red-10: #fff;
    --acv-color-decoration-red-40: #fff;
    --acv-color-decoration-red-60: #fff;
    --acv-color-decoration-red-70: #fff;
    --acv-color-decoration-yellow-10: #fff;
    --acv-color-decoration-yellow-30: #fff;
    --acv-color-decoration-yellow-40: #fff;
    --acv-color-decoration-yellow-60: #fff;
    --acv-color-decoration-yellow-70: #fff;
    --acv-color-decoration-green-10: #fff;
    --acv-color-decoration-green-40: #fff;
    --acv-color-decoration-green-60: #fff;
    --acv-color-decoration-green-70: #fff;
    --acv-color-scheme: dark;
    --go-color-scheme: dark;
  }
}
}
